/*
--------
Reset
--------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/*
--------
Common
--------
*/

header, .header-content {
    display: flex;
    justify-content: flex-end;
}

header {
    height: 50px;
    align-items: center;
}

body {
    background-color: black;
}

footer {
    background-color: rgb(34, 34, 34);
    height: 70px;
}

main {
    height: calc(100vh - 70px - 50px);
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}

/*
--------
Header
--------
*/

.header-content {
    margin-right: 10px;
    gap: 10px;
}

.header-content > div {
    background-color: rgba(211, 211, 211, 0.5);
    padding: 5px;
    border-radius: 10px;
}

/*
--------
Main
--------
*/

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    
}

.box {
    width: 250px;
    height: 150px;
    position: relative;
    margin-bottom: 8px;
}

.box > * {
    position: absolute;
}

.box .username {
    background-color: rgb(211, 211, 211, 0.5);
    bottom: 0;
    left: 0;
    padding: 3px 5px;
}

/*
--------
Footer
--------
*/

.footer-elements, .left-elements, .middle-elements, .right-elements {
    display: flex;
}

.footer-elements {
    justify-content: space-between;
}

.footer-element {
    height: 70px;
    position: relative;
}
.footer-element.big {
    width: 80px;
}

.footer-element.small {
    width: 60px;
}

.footer-element > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-element > i:first-child {
    top: 40%;
}

.footer-element > span {
    top: 70%;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.more-options {
    left: 90%;
    font-size: 10px;
}

.middle-elements .footer-element.big i:first-child {
    color: green;
}

.right-elements .footer-element span {
    top: 50%;
    color: red;
    font-size: 13px;
}

.right-elements .footer-element:last-child {
    background-color: rgb(211, 211, 211, 0.3);
}